{% extends "layout.html" %}
{% block content %}
<div class="container" style="text-align: center">
	<p>Congrats! You've made this clue for your friend:</p>
	{% for letter in clue %}
		{% if letter|int != 0 %}
		<button type="button" class="btn btn-primary">{{ letter }}</button>
		{% elif letter == "*" %}
		<button type="button" class="btn btn-secondary">*</button>
		{% else %}
		<button type="button" class="btn btn-warning">{{ letter }}</button>
		{% endif %}
	{% endfor %}
	<hr class="col-3 col-md-2">
	<button type="button" class="btn btn-success" id="share">Share</button>
	<button type="button" class="btn btn-info" id="share"
	onclick="window.location.href=window.location.protocol + '//' + window.location.host + '{{clue_url}}'">New Clue</button>
	<br/>
	<br/>
	<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">View All Clues</button>

	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
	  
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">All Clues</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">✖</button>
			</div>
			<div class="modal-body">
				{% if clues|length > 0 %}
					{% for clue in clues %}
						{% for letter in clue %}
							{% if letter|int != 0 %}
							<button type="button" class="btn btn-primary btn-lg">{{ letter }}</button>
							{% elif letter == "*" %}
							<button type="button" class="btn btn-secondary btn-lg">*</button>
							{% else %}
							<button type="button" class="btn btn-warning btn-lg">{{ letter }}</button>
							{% endif %}
						{% endfor %}
						<hr class="col-3 col-md-2">
					{% endfor %}
				{% else %}
					<p>No clues yet!</p>
				{% endif %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
	  
		</div>
	  </div>
</div>

<script>

const clue = "{{clue}}"
const mode = "{{mode}}"

window.addEventListener("load", function(){
	const shareButton = document.getElementById("share")
	shareButton.addEventListener('click', event => {
		var toShare = ""
		if (mode === "guess_mode") {
			var emoji_clue = ""
			for (var i = 0; i < clue.length; i++) {
				var letter = clue.charAt(i)
				if (letter === "1") {
					emoji_clue += "1️⃣"
				} else if (letter === "2") {
					emoji_clue += "2️⃣"
				} else if (letter === "3") {
					emoji_clue += "3️⃣"
				} else if (letter === "4") {
					emoji_clue += "4️⃣"
				} else if (letter === "5") {
					emoji_clue += "5️⃣"
				} else if (letter === "*") {
					emoji_clue += "*️⃣"
				} else {
					emoji_clue += "🟨"
				}
			}
			var toShare =  "Here's a clue.\n" + emoji_clue
		} else {
			var toShare = "Guess this mystery word using my clues! " + window.location.protocol + '//' + window.location.host + "{{guess_url}}"
		}
		if (navigator.share) {
			navigator.share({
				text: toShare
			})
			.catch(console.error);
		} else {
			var textArea = document.createElement("textarea");
			textArea.value = toShare;
			// Avoid scrolling to bottom
			textArea.style.top = "0"
			textArea.style.left = "0"
			textArea.style.position = "fixed"
			document.body.appendChild(textArea);
			textArea.focus();
			textArea.select();
			document.execCommand('copy');
			textArea.hidden = true
			alert("Copied to clipboard")
	  }
	});
});

</script>
<footer class="py-3 my-4" style="text-align:center"><a href="/">Home</a>&nbsp;|&nbsp;<a href="/help">Help</a></footer>

{% endblock %}
