{% extends "layout.html" %}
{% block content %}
<div class="container" style="text-align: center">
<p>Give your friend a clue by using letters from their word!</p>
<p>Your friend's word is:</p>
<button onclick="updateClues('{{word[0]}}')" type="button" class="btn btn-primary btn-lg">{{word[0]}}</button>
<button onclick="updateClues('{{word[1]}}')" type="button" class="btn btn-primary btn-lg">{{word[1]}}</button>
<button onclick="updateClues('{{word[2]}}')" type="button" class="btn btn-primary btn-lg">{{word[2]}}</button>
<button onclick="updateClues('{{word[3]}}')" type="button" class="btn btn-primary btn-lg">{{word[3]}}</button>
<button onclick="updateClues('{{word[4]}}')" type="button" class="btn btn-primary btn-lg">{{word[4]}}</button>
<hr class="col-3 col-md-2">
<p>You can also use these extra letters or a wild card.</p>
{% for letter in letters %}
<button onclick="updateClues('{{letter}}')" type="button" class="btn btn-warning btn-lg">{{letter}}</button>
{% endfor %}
<button onclick="updateClues('*')" type="button" class="btn btn-secondary btn-lg">*</button>
<hr class="col-3 col-md-2">
<p>Your clue will be:</p>
<div><strong id="clue_show"></strong></div>
<hr class="col-3 col-md-2">
<p>Your friend will see:</p>
<div id="clue_clue"></div>
<hr class="col-3 col-md-2">
<form action="/game/{{uuid}}/clue" method="post" id="form1">
	<input type="hidden" id="clue" name="clue" value="">
</form>
<button onclick="backspace()" type="button" class="btn btn-danger">Backspace</button>
<button type="submit" form="form1" value="Submit" class="btn btn-success">Enter</button>

<script>

const word = "{{word}}"

window.addEventListener("load", function(){
	const clueElement = document.getElementById("clue")
	clueElement.value = ""
});

function updateClue(letter) {
	const span = document.createElement("span")
	const node = document.createTextNode(letter)
	span.appendChild(node)

	const element = document.getElementById("clue_show")
	element.appendChild(span)
}

function updateClueClue(letter) {
	style = "btn btn-warning btn-lg"
	if (word.indexOf(letter) === 0) {
		letter = "1"
		style = "btn btn-primary btn-lg"
	} else if (word.indexOf(letter) === 1) {
		letter = "2"
		style = "btn btn-primary btn-lg"
	} else if (word.indexOf(letter) === 2) {
		letter = "3"
		style = "btn btn-primary btn-lg"
	} else if (word.indexOf(letter) === 3) {
		letter = "4"
		style = "btn btn-primary btn-lg"
	} else if (word.indexOf(letter) === 4) {
		letter = "5"
		style = "btn btn-primary btn-lg"
	} else if (letter === "*") {
		style = "btn btn-secondary btn-lg"
	}

	const button = document.createElement("button")
	const node2 = document.createTextNode(letter)
	button.appendChild(node2)
	button.className = style

	const element2 = document.getElementById("clue_clue")
	element2.appendChild(button)

	const space = document.createTextNode(" ")
	element2.appendChild(space)
}

function updateClueForm(letter) {
	if (word.indexOf(letter) === 0) {
		letter = "1"
	} else if (word.indexOf(letter) === 1) {
		letter = "2"
	} else if (word.indexOf(letter) === 2) {
		letter = "3"
	} else if (word.indexOf(letter) === 3) {
		letter = "4"
	} else if (word.indexOf(letter) === 4) {
		letter = "5"
	}

	const clueElement = document.getElementById("clue")
	clueElement.value = clueElement.value + letter
}

function updateClues(letter) {
	updateClue(letter)
	updateClueClue(letter)
	updateClueForm(letter)
}

function backspace() {
	const clue = document.getElementById("clue_show")
	
	if (clue.lastChild != null) {
		clue.lastChild.remove()
	}

	const clue2 = document.getElementById("clue_clue")
	
	if (clue2.lastChild != null) {
		clue2.lastChild.remove()
		clue2.lastChild.remove()
	}

	const clue3 = document.getElementById("clue")
	
	if (clue3.value != "") {
		clue3.value = clue3.value.substring(0, clue3.value.length - 1)
	}
}
</script>
</div>
{% endblock %}