{% extends "layout.html" %}
{% block content %}
	{% if wrong_guess %}
	<p><span style = "color:red">Incorrect Guess! Try again</span></p>
	{% endif %}
	<p>Guess this five-letter word using the clues below!</p>
	<button type="button" class="btn btn-primary btn-lg">1</button>
	<button type="button" class="btn btn-primary btn-lg">2</button>
	<button type="button" class="btn btn-primary btn-lg">3</button>
	<button type="button" class="btn btn-primary btn-lg">4</button>
	<button type="button" class="btn btn-primary btn-lg">5</button>
	<hr class="col-3 col-md-2">
	{% if clues|length > 0 %}
		<p>Your clues are:</p>
		{% for clue in clues %}
			{% for letter in clue %}
				{% if letter|int != 0 %}
				<button type="button" class="btn btn-primary btn-lg">{{ letter }}</button>
				{% elif letter == "*" %}
				<button type="button" class="btn btn-secondary btn-lg">*</button>
				{% else %}
				<button type="button" class="btn btn-warning btn-lg">{{ letter }}</button>
				{% endif %}
			{% endfor %}
			<hr class="col-3 col-md-2">
		{% endfor %}
		<form action="/game/{{uuid}}/guess" method="post" id="form1">
			<div class="row d-flex justify-content-center">
				<div class="col-5 col-md-5 center-block">
					<input maxlength="5" style="text-transform: uppercase;  text-align: center !Important;" class="form-control" id="guess" name="guess" value="" type="text" placeholder="enter guess">
				</div>
			</div>
		</form>
		<hr class="col-3 col-md-2">
		<button type="submit" form="form1" value="Submit" class="btn btn-success btn-lg">Enter</button>
	{% else %}
		<p>You don't have any clues yet!</p>
		<hr class="col-3 col-md-2">
	<button type="button" id="share" class="btn btn-success btn-lg">Share</button>
	{% endif %}
	<button type="button" class="btn btn-info btn-lg" onclick="location.reload(true)">Refresh</button>

<footer class="py-3 my-4" style="text-align:center"><a href="{{quit_url}}" style="color:red">Rage Quit</a></footer>

<script>

const shareButton = document.getElementById("share")
shareButton.addEventListener('click', event => {
	const toShare = 'I need a clue to guess this word. https://' + window.location.host + '{{clue_url}}'
	if (navigator.share) {
	navigator.share({
		text: toShare
	})
	.catch(console.error);
	} else {
		var textArea = document.createElement("textarea");
		textArea.value = toShare;
		// Avoid scrolling to bottom
		textArea.style.top = "0"
		textArea.style.left = "0"
		textArea.style.position = "fixed"
		document.body.appendChild(textArea);
		textArea.focus();
		textArea.select();
		document.execCommand('copy');
		textArea.hidden = true
		alert("Copied to clipboard")
	}
});

</script>

{% endblock %}
