{% extends "layout.html" %}
{% block content %}
<p>You will be given a 5-letter mystery word to guess.</p>
<p>Share the mystery word with your friends to get clues from them.</p>
<hr class="col-3 col-md-2">
<form action="/game/new" method="post" id="form1"></form>
<button class="btn btn-success btn-lg" type="submit" form="form1" value="Submit">Begin Game</button>
<hr class="col-3 col-md-2">
<form action="/clues/new" method="post" id="form2"></form>
<button class="btn btn-success btn-lg" type="submit" form="form2" value="Submit">Other mode</button>
<footer class="py-3 my-4" style="text-align:center"><a href="/help">Help</a></footer>
{% endblock %}